pandas
pillow
PyAutoGUI
pyinstaller
pyinstaller-hooks-contrib
pip
PyMuPDF
PyMuPDFb
pytesseract
python-dateutil
pytz
rapidfuzz
setuptools
six
fuzzywuzzy
Levenshtein
numpy
openpyxl
pdfplumber
babel
tkcalendar
traits
django
